<section id="contacts">
  <div class="col-12 mx-auto mb-3"><h3 class="text-center">{{ .Title }}</h3></div>
  <div class="location mx-auto text-center mb-3">
    <iframe src="{{ .Params.contact_map }}" width="100%" height="300" frameborder="0"></iframe>
  </div>
  <div class="contact col-12 mx-auto text-left">
    <span class="text-center mb-3 marker-location">
      <p class="ml-3"><i class="fas fa-map-marker-alt fa-2x mr-3"></i>{{ .Params.contact_loc }}</p>
    </span>
    <p class="px-5">
      {{ .Params.contact_text | safeHTML }}
    </p>
      <div class="row">
          <ul class="col-lg-6 text-left">
            {{ range .Params.row }}
            <li>
              <img src="{{ .icon }}" alt="{{ .icon_alt }}" class="w-7 h-7 mx-2 my-2" style="display:inline-block"><a href="{{ .url }}">{{ .label }}</a>
            </li>
            {{ end }}
          </ul>
      </div>
  </div>
</section>