:root {
  --color-primary: #212121;
  --color-primary-dark: #000000;
  --color-primary-light: #484848;

  --color-secondary: #e9ecef;
  --color-secondary-dark: #ced4da;
  --color-secondary-light: #f8f9fa;

  --color-accent: #6ab4c7;
  --color-accent-dark: #437fa7;
  --color-accent-light: #7db7ee;
}

.dark * {
  --color-primary: #dee2e6;
  --color-primary-dark: #adb5bd;
  --color-primary-light: #e9ecef;
  
  --color-secondary: #161616;
  --color-secondary-dark: #000000;
  --color-secondary-light: #303030;
  
  --color-accent: #447bae;
  --color-accent-dark: #0e5e7e;
  --color-accent-light: #74b8e0;
}

#cookie_notification{
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 15px;
  left: 50%;
  width: 900px;
  max-width: 90%;
  transform: translateX(-50%);
  padding: 15px;
  background-color: rgba(230, 230, 230, 0.85);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

#cookie_notification .button{
  background-color: rgba(230, 230, 230, 0.85);
  color:rgba(0, 0, 0, 0.85)
}

#cookie_notification p{
  margin: 0;
  font-size: 0.7rem;
  text-align: left;
  color: #212121;
}


@media (min-width: 576px){
  #cookie_notification.show{
    display: flex;
  }
  .cookie_accept{
    margin: 0 0 0 25px;
  }
}

@media (max-width: 575px){
  #cookie_notification.show{
    display: block;
  }
  .cookie_accept{
    margin: 10px 0 0 0;
  }
}