@import 'custom';

:root {
  --color-primary: #212121;
  --color-primary-dark: #000000;
  --color-primary-light: #484848;

  --color-secondary: #e9ecef;
  --color-secondary-dark: #ced4da;
  --color-secondary-light: #f8f9fa;

  --color-accent: #6ab4c7;
  --color-accent-dark: #437fa7;
  --color-accent-light: #7db7ee;
}

.dark * {
  --color-primary: #dee2e6;
  --color-primary-dark: #adb5bd;
  --color-primary-light: #e9ecef;
  
  --color-secondary: #161616;
  --color-secondary-dark: #000000;
  --color-secondary-light: #303030;
  
  --color-accent: #447bae;
  --color-accent-dark: #0e5e7e;
  --color-accent-light: #74b8e0;
}
